@model WebApplication1.Models.RegisterViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserNationalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserNationalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserBarthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserBarthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>


    </dl>

    @using (Html.BeginForm("DeleteConefirmed","AdminUser"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" id="id" value="@Model.Id" />////////give id to action
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
