@model WebApplication1.Models.RegisterViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserNationalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserNationalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserBarthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserBarthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>



    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
